e2cnn/
e2cnn_experiments/
.ipynb_checkpoints/
*__pycache__*
*tar.gz

assets/result_videos/*
assets/result_videos_affine/*
assets/result_videos_different_N_R/*
assets/result_videos_different_N_R_2/*
result_videos/*

data/hpatches-sequences-release.tar.gz
data/st_peters_square_dataset/
data/roto360/
data/coco/
data/roto360

model/reresnet_model/pretrained_nets/*

logs/
*.log
best_model.pt
best_model_wrn.pt

# baselines/extract_SuperPoint/superpoint_v1.pth
baselines/extract_R2D2/models/*.pt
baselines/extract_D2Net/models/*.pth
baselines/extract_KeyNet_*
baselines/extract_LFNet/release/*
baselines/extract_PoSFeat
baselines/extract_DISK

pairs_gift_dataset_vis

evaluation/ori_estimators

baselines/extract_KeyNet/model/HyNet/weights/HardNet++.pth
baselines/extract_KeyNet/model/HyNet/weights/HyNet_ND.pth
baselines/extract_KeyNet/model/HyNet/weights/HyNet_YOS.pth
